<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1 style="color:white; padding-left:10px">MY APP</h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown not-click"><a href="#">Posts</a>
				<ul class="dropdown">
					<li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">DAC-RG-01</a></li>
					<li><label>Post</label></li>
					<% if admin_signed_in? %>
					<li><%= link_to 'Ver', controller: '/posts',action: 'index' %></li>
					<% else %>
					<li><%= link_to 'Ver', controller: '/posts',action: 'index' %></li>
					<li><%= link_to 'Nuevo', controller: '/posts',action: 'new' %></li>
					<% end %>
				</ul>
			</li>
			<li class="divider"></li>
		</ul>

		<ul class="right">
			
		<li class="has-dropdown" id="white">
        <% if user_signed_in? %>
        Entraste como <strong><%= current_user.email %></strong>
        <ul class="dropdown">
        <li><%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>     
        </ul>      
        <% end %>

        <% if admin_signed_in? %>
        Entraste como <strong><%= current_admin.email %></strong>
        <ul class="dropdown">
        <li><%= link_to 'Editar Perfil', edit_admin_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Salir', destroy_admin_session_path, method: :delete, :class => 'navbar-link' %></li>     
        </ul>      
        <% end %>



        <% if !admin_signed_in? && !user_signed_in? %>
        No has ingresado
        <ul class="dropdown">
        <li><%= link_to 'Registrate', new_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Ingresa', new_user_session_path, :class => 'navbar-link' %></li>
        </ul>      
        <% end %>

      </li>

		</ul>

	</section>
</nav>