<p id="notice"><%= notice %></p>

<h1>Post Recientes</h1>

<table>
  <thead>
    <tr>
  <% if user_signed_in? %>
      <th>Titulo</th>
      <th>Cuerpo</th>
      <th colspan="3"></th>
  <% end %>

  <% if admin_signed_in? %>
      <th>ID</th>
      <th>Titulo</th>
      <th>Cuerpo</th>
      <th colspan="3"></th>
  <% end %>
      
    </tr>
  </thead>

  <tbody>


  <% if user_signed_in? %>
    <% @posts.each do |post| %>
    <% if post.user_id == current_user.id %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <% if post.body %>
            <a href="#" data-reveal-id="post-<%= post.id %>">Ver más</a>
            <div id="post-<%= post.id %>" class="reveal-modal" data-reveal>
              <%= post.body %>
              <a class="close-reveal-modal">&#215</a>
            </div>
          <% end %>
        </td>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Borrar', post, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>




    <% if admin_signed_in? %>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.title %></td>
        <td>
          <% if post.body %>
            <a href="#" data-reveal-id="post-<%= post.id %>">Ver más</a>
            <div id="post-<%= post.id %>" class="reveal-modal" data-reveal>
              <%= post.body %>
              <a class="close-reveal-modal">&#215</a>
            </div>
          <% end %>
        </td>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Borrar', post, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
    <% end %>


  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'Crear nuevo post', new_post_path %>
<% end %>

<% if admin_signed_in? %>
 <p>Bienvenido Administrador</p>
<% end %>